@using KioscoWebApp.Controllers
@using System.Linq
@model IEnumerable<Product>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Somos estudiantes de cuarto año y hemos creado este kiosco para recaudar fondos para nuestro viaje de egresados y los buzos. Con cada compra, nos ayudas a estar más cerca de cumplir este objetivo. ¡Gracias por tu apoyo!">
    <meta name="keywords" content="El Rincón, Tu  Kioskito, Kiosco Biro, Biro, Kiosco escolar">
    <meta name="copyright" content="El Rincón 2024">
    <link rel="icon" href="/assets/logo/kisoco-16px.ico" type="image/png">
    <link rel="stylesheet" href="~/assets/css/style.css" type="text/css">
    <title>Kiosco Biro</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <img class="img-logo" src="/assets/logo/kisoco-modified.png" alt="Kiosco">
        </div>
        <div class="search">
            <input type="search" placeholder="Buscar productos" id="searchBar">
        </div>
    </header>

    <div class="grid-producto">
        @foreach (var product in Model)
        {
                <a class ="product-link"href="/Products/Details/?id=@product.ProductId">
            <div class="producto">
                <h2 class="nombre-producto">@product.ProductName</h2>
                <p class="precio-producto">Precio : $@product.Price</p>
                @if (product.Quantity > 0)

                {
                    <img  class="" src ="@product.ProductImage">
                }
                else
                
                {
                    <img class="" src="@product.ProductImage2">
                }
            
            </div>
            </a>
        }
    </div>
    
    <button id="alfajoresBut">Alfajores</button>
     @section Scripts {
        <script>
                 $(document).ready(function () {
            $('.details-button').on('click', function () {
                var productId = $(this).data('product-id');
                // Redirect to the details page
                window.location.href = '/Products/Details/?id=' + productId;
            });


        });

           $(document).ready(function () {
                // Search bar functionality
                $('#searchBar').on('input', function () {
                    var query = $(this).val().toLowerCase(); // Get the search query
                    $('.product-link').each(function () {
                            var productName = $(this).find('.nombre-producto').text().toLowerCase();
                                if (productName.includes(query)) {
                                    $(this).show(); // Show the product if it matches
                                } else {
                                    $(this).hide(); // Hide the product if it doesn't match
                                }
                           });
                });
            });

        </script>
    } 
    <footer class="footer">
        <a href="https://www.instagram.com/promo25biro/" target="_blank">
            <img src="/assets/redes-sociales/instagram.svg" alt="Instagram">
        </a>
    </footer>
     <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
