html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

button {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    box-shadow: none;
}
h1 {
    font-size: 50px;
    font-weight: bold;
    color: black;
}

.details-button button:active, button:focus {
   

}

.product-container{
    width: 60%;
    height: 69.5vh;
    background-color: #fff; 
    margin: 20px auto;
    display: flex;
    border-radius: 20px;
    border: solid 1px #ddd;
}

.product-img {
    margin: auto;
}

.product-title h1 {
    margin: 50px 180px;
    font-size: 2rem;
}

.footer {
    display: flex;
    background-color: var(--default-bg-color);
    padding: 2em 1em;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

