@model Customer

<h2>Register</h2>

<form asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Gmail"></label>
        <input asp-for="Gmail" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
